.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #0077b6, #90e0ef);
}

.login-card {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  width: 380px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #0077b6;
}

.login-subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 18px;
  text-align: left;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #0077b6;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #023e8a;
}

.register-text {
  margin-top: 15px;
  font-size: 14px;
}

.register-link {
  color: #0077b6;
  font-weight: 500;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}
